html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100%;
    background-color: #131619;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-datepicker__input-container>input{

  width: 170px;
  height: 45px;
  border-radius: 15px;
  border: 2px rgb(224, 224, 224) solid;

}

